<div class="wrapper">
  <div class="presentation-side">
    <h1>Hallo</h1>
    <h2>Deutsch</h2>
  </div>

  <div class="authentication-side">
    <div class="button-wrapper">
      <a class="signin">SignIn</a>
      <a class="signup">SignUp</a>
    </div>

    <div class="authentication-wrapper">
      <h2>Welcome back!</h2>
      <div class="email">Email</div>
      <div class="password">Password</div>
    </div>

    <div class="image-wrapper">
      <img src="./assets/hallo.jpg" />
    </div>

  </div>

</div>
