<div id="dashboard">
  <app-dashboard-item
    [image]="{ src: 'status.png', alt: 'A signal symbol' }"
    title="SERVER STATUS"
  >
    <app-server-status />
  </app-dashboard-item>

  <app-dashboard-item
    [image]="{ src: 'globe.png', alt: 'A globe symbol' }"
    title="TRAFFIC"
  >
    <app-traffic-monitorization />
  </app-dashboard-item>

  <app-dashboard-item
    [image]="{ src: 'list.png', alt: 'A list of items' }"
    title="SUPPORT STATUS"
  >
    <app-support-tickets />
  </app-dashboard-item>
</div>
